@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@400;500;700&family=Roboto:wght@700&display=swap');

:root{
    /* COLORS */
    --body-color: #FFFFFF;

    --nav-color: #475C46;
    --nav-line-color:#000000;
    --title-color: #085C11E8;
    --description-color: #141E15;
    --btn-bg-color:#0D4512;
    --review-desription-color: #555555;
    --description-light-color:background: #555555;
    /* FONT Family*/
    --first-font:"Poppins", sans-serif;
    --second-font: "Roboto", sans-serif;
    --third-font: "Inter", sans-serif;

    /* FONTWEIGHT */
    --font-weight-bold:700;
    --font-weight-semi-bold:600;
    --font-weight-medium:500;
    --font-weight-regular:400;  


    /* FONT SIZE */
    --title-fz:6.875rem;
    --small-title-fz:2.75rem;
    --nav-fz:2.5rem;
    --descrioption-fz:1.5rem;    
    --small-description-fz:1.25rem;
}
/* Responsive typography */
@media screen and (max-width: 1024px) {
    :root {
        --title-fz:3.5rem;
        --small-title-fz:1.875rem;
        --nav-fz:1.5rem;
        --descrioption-fz:1.125rem;
        --small-description-fz:0.875rem;
    }
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--body-color);
    font-family: var(--first-font);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.grid{
    display: grid;
}

/* HEADER */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    font-family: var(--second-font);
}
.nav{
    position: relative;
    height: 3rem;
    display: flex;
    align-items: center;

}
.nav__logo{
    font-family: var(--first-font);
    font-weight: var(--font-weight-bold);
    font-size: var(--nav-fz);
    color: var(--nav-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav__logo-title span{
    font-weight: var(--font-weight-regular);
}
.nav__logo-icon{
    width: 50px;
    transform: rotateY(180deg);
}
@media screen and (max-width:768px){
    .nav__menu{
        position: fixed;
        bottom: 3rem;
        width: 80%;
        margin: 0 auto;

    }
    .nav__link-name{
        display: none;
    }
}
.nav__list{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
}
.nav__link i{
    font-size: 1.5rem;
    color: var(--title-color);
}
