@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@400;500;700&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&display=swap');

:root{
    /* COLORS */
    --body-color: #FFFFFF;

    --nav-color: #475C46;
    --nav-line-color:#000000;
    --title-color: #085C11E8;
    --description-color: #141E15;
    --btn-bg-color:#0D4512;
    --review-desription-color: #555555;
    /* FONT Family*/
    --first-font:"Poppins", sans-serif;
    --second-font: "Roboto", sans-serif;
    --third-font: "Inter", sans-serif;
    --title-font:"Playfair Display", serif;

    /* FONTWEIGHT */
    --font-weight-bold:700;
    --font-weight-semi-bold:600;
    --font-weight-medium:500;
    --font-weight-regular:400;  


    /* FONT SIZE */
    --biggest-fz:2rem;
    --h1-fz:1.75rem;
    --h2-fz:1.5rem;
    --h3-fz:1.25rem;
    --normal-fz:1rem;
    --small-fz:0.875rem;
    --smaller-fz:.75rem

}
/* Responsive typography */
@media screen and (min-width: 1024px) {
    :root {
    --biggest-fz:3rem;
    --h1-fz:2.rem;
    --h2-fz:1.75rem;
    --h3-fz:1.5rem;
    --normal-fz:1.25rem;
    --small-fz:0.975rem;
    }
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--body-color);
    font-family: var(--first-font);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button,a{
    cursor: pointer;
}
.grid{
    display: grid;
}
section{
    margin: 3rem 2rem;
}
img{
    max-width: 100%;
    height: auto;
}

/* HEADER */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    font-family: var(--second-font);
    z-index: 100;
}
.nav{
    position: relative;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav__logo{
    font-family: var(--first-font);
    font-weight: var(--font-weight-bold);
    font-size: var(--normal-fz);
    color: var(--nav-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav__logo-title span{
    font-weight: var(--font-weight-regular);
}
.nav__logo-icon{
    width: 50px;
    transform: rotateY(180deg);
}
@media screen and (max-width:768px){
    .nav__menu{
        position: fixed;
        bottom: 3rem;
        width: 80%;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: var(--body-color);
        border-radius: 5rem;
        /* border: 1px solid var(--nav-color); */
        box-shadow: 0px 0px 8px 1px #141E15;
    }
    .nav__link-name{
        display: none;
    }
}
.nav__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .75rem 1rem;
    
}
.nav__item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__link i{
    font-size: 1.25rem;
    color: var(--title-color);   
    padding: .25rem; 
    border-radius: 50%;
    box-shadow: inset 0 0 4px 1px #566557;
}
.nav__item .active{
    background-color: #475C46;
    color: var(--body-color);
}
/* Header shadow */
.header-shadow{
    box-shadow: 0 2px 4px 1px #79bd80;
}

/* HOME */

.home__container{
    padding: 3rem 2rem;
    position: relative;
    top: 2rem;
    width: 80%;
    margin: 0 auto;
}
.home__data{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}
.home__title{
    font-size: var(--biggest-fz);
    color: var(--title-color);
    text-align: center;
    font-family: var(--title-font);
}
.home__description{
    font-size: var(--smaller-fz);
    color: var(--description-color);

}
.home__btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.btn{
    border-radius: 1rem;
}
.btn-1{
    background-color: var(--title-color);
    color: var(--body-color);
    border: none;
    /* padding: .563rem 1.68rem ; */
    padding: .5rem 1rem;
}
.btn-1:hover{
    background-color: var(--body-color);
    color: var(--title-color);
    font-weight: var(--font-weight-semi-bold);
    border: 1px solid var(--nav-line-color);
}
.btn-2{
    border: 1px solid var(--nav-color);
    background-color: transparent;
    padding: .5rem .5rem;
}
.btn-2:hover{
    background-color: var(--title-color);
    color: var(--body-color);
    font-weight: var(--font-weight-semi-bold);
}
.home__image{
    position: relative;
    width: 100%;
}



/* ABOUT */

.about__container{
    position: relative;
    padding-block: 3rem 2rem;
    width: 80%;
    margin: 0 auto;
}
.about__data{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}
.about__title{
    font-family: var(--title-font);
    color: var(--title-color);
    text-align: center;
    /* font-weight: var(--font-weight-bold); */
    }
.about__description{
    font-size: var(--smaller-fz);
}
.about__btn{
    background-color: var(--title-color);
    color: var(--body-color);
    padding: .5rem 1rem;
    border-radius: 1rem;
    border: none;
}
.about__btn:hover{
    background-color: var(--body-color);
    color: var(--title-color);
    font-weight: var(--font-weight-semi-bold);
    border: 1px solid var(--nav-line-color);
}
.about__image{
    position: relative;
    padding: 2rem .5rem;
}


/* Services */
.services__container{
    position: relative;
    padding-block: 3rem 4rem;
    /* width: 80%; */
    margin: 0 auto;
}
.services__data{
    text-align: center;
    margin-bottom: 3rem;
}
.services__title{
    font-family: var(--title-font);
    color: var(--title-color);
    margin-bottom: 1rem;
}
.services__description{
    font-size: calc(var(--smaller-fz) - .2rem);
}
.services__content{
    position: relative;
    width: 300px;
    height: 310px;
    padding: 2rem;
    margin: 0 auto;
}
.services__box{
    position: relative; 
    /* width: fit-content; */    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;

}
.services__card{
    position: relative;
    /* width: 250px !important; */
    height: 240px;
    background-color: var(--title-color);
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    margin: 0 auto;
    box-shadow: 0px 0px 8px 2px #7bc975;
   
}
.services__card-img{    
    width: fit-content;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.services__card-img i{
    font-size: 4rem;
    padding: .2rem .4rem;

}
.services__card-data{
    position: relative;
}
.services__card-title{
    color: var(--body-color);
    text-align: center;
}
.services__card-description{
    color: var(--body-color);
    font-size: var(--smaller-fz);
    padding: 1rem .5rem;
}
.check{
    background-color: var(--body-color);
    border-radius: 50%;
}
.check i{
    color: var(--title-color);    
    font-weight: bold;
}
.leaf i{
    color: var(--body-color);
    font-weight: normal;
}
.padlock i{
    color: var(--body-color);
    font-weight: bold;
}
